<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
        <div>
          <h2>Integration and engineering services</h2>
          <p>
            The integration team supports the creation of web3 project from both startups and large companies. Get in touch to know more about the Alembic and integration services.
          </p>
          <div>formulaire</div>
          <p>
            It worked for us, let it work for you.
          </p>
        </div>
      </div>
    </main>

  </body>

</html>
